[Unit]
Description=Tomcat 9 servlet container
After=syslog.target network.target

[Service]
Type=forking
User=tomcat
Group=tomcat
Environment="JAVA_HOME=/usr/lib/jvm/jre"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

Environment="CATALINA_OPTS=-Xms256M -Xmx512M  -verbose:gc -Xloggc:/opt/tomcat/latest/logs/gc.log \
-XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/tomcat/latest/logs/heap.dump"


Environment="CATALINA_HOME=/opt/apache-tomcat-9.0.17"
ExecStart=/opt/apache-tomcat-9.0.17/bin/startup.sh
ExecStop=/opt/apache-tomcat-9.0.17/bin/shutdown.sh

[Install]
WantedBy=multi-user.target